@page
@model CoreDotnetDockerDemo.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET CORE</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="~/images/successCloudNew.svg" />
        </div>
        <div class="content">
            <div class="tweet-container">
                <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20ASP.net%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=AzureDevOpsProject%2CVSTS%20%40Azure%20%40VSTS">
                    <img src="~/images/tweetThis.svg" />
                </a>
            </div>
            <div class="content-body">
                <div class="success-text">Deploying to Azure with Azure DevOps Pipelines</div>
                <div class="description line-1"> Azure DevOps Pipelines has been successfully setup</div>
                <div class="description line-2"> Your ASP.NET Core app is live on Azure Web Apps</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Get started right away </h2>
            <p>
                Clone your code repository and start developing your application on IDE of your choice
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=862409">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Continuous Delivery</h2>
            <p>View your Azure DevOps pipelines and customize it as per your needs</p>
            <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/key-pipelines-concepts?view=azure-devops">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Azure DevOps Pipelines</h2>
            <p>Learn more about all you can do with Azure DevOps Pipelines by visiting the documentation</p>
            <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/devops/pipelines/?view=azure-devops">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
